# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
logs

# Files from Forge MDK
forge*changelog.txt

.ref
.gradle/file-system.probe
.gradle/8.14.3/checksums/checksums.lock
.gradle/8.14.3/executionHistory/executionHistory.bin
.gradle/8.14.3/executionHistory/executionHistory.lock
.gradle/8.14.3/fileHashes/fileHashes.bin
.gradle/8.14.3/fileHashes/fileHashes.lock
.gradle/8.14.3/fileHashes/resourceHashesCache.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
